<%- include('../header.ejs') %>

<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                  <%- include('../admin/sidebar.ejs') %>  
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                      <div class="dash-header">
                        <div class="dash-title">
                          <h1>Change  Password</h1>
                        </div>

                        <% if(message4.length >0){ %>
                          <div class="alert alert-secondary">
                           <%= message4 %>
                          </div>
                       <% } %>

                       <% if(message3.length >0){ %>
                        <div class="alert alert-danger">
                         <%= message3 %>
                        </div>
                     <% } %>
      
                     
                       
                      </div>
                      <form action="/updatepassword" method="post" >
                          <div class="mb-3">
                              <label for="">OldPassword</label>
                              <input type="text" class="form-control" name="oldpassword" value="">
                          </div>
                          <div class="mb-3">
                              <label for="">NewPasssword</label>

                              <input type="text" class="form-control" name="newpassword" value="">

                          </div>
                          <div class="md-3">
                            <label for="">ConfirmPassword</label>
                            <input type="text" name="cpassword" class="form-control">
                          </div>
                       
                          <button type="submit" class="btn btn-info">Update</button>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      
        </div>
        </section>



<%- include('../footer.ejs') %>