<%- include('../../header.ejs') %>


<section class="dashboard-wrap mtb-40">
    <div class="container">
        <div class="body-content">
            <div class="row">
                <div class="col-md-3">
                    <%- include('../../admin/sidebar.ejs') %>  
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>Blogs</h1>
                            </div>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Add Blog
                              </button>
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>#ID</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                            <% d.forEach((item)=>{ %>
                                <tr>
                                    <td><%= item._id %></td>
                                    <td><img src="<%= item.image.url %>" width="50px"  ></td>
                                    <td><%= item.title %></td>
                                    <td><%= item.description %></td>
                                    <td><%= item.category %> </td>
                                    <td>
                                        <a href="/admin/viewblog/<%= item._id %>" class="btn btn-primary btn-sm">View</a>
                                        <a href="/admin/editblog/<%= item._id %>" class="btn btn-info btn-sm">Edit</a>
                                        <a href="/admin/blogdelete/<%= item._id %>" class="btn btn-danger btn-sm">Delete</a>
                                    </td>
                                </tr>
                           <% }) %>
                            
        
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>


  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Blog</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/insertblog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="">Title</label>
                <input type="text" name="title" class="form-control">
            </div>
            <div class="mb-3">
                <label for="">Description</label>
                <textarea type="text" name="description" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label>Category</label>
               <select name="category" class="form-control ">
                <option>select category</option>
                <% c.forEach((item)=>{ %>

                  <option value="<%= item.catname %>"><%= item.catname %></option>

                <% }) %>

               </select>
              </div>
            <div class="mb-3">
                <label for="">Upload image</label>
                <input type="file" name="image" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
       
      </div>
    </div>
  </div>


<%- include('../../footer.ejs') %>
